.container-1{
    height: calc(100vh - 70px);
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #1f4e79;
}
.img-fluid{
    height: 35vh;
}
.text-1{
    font-size: 30px;
    color: #1acaad;
    font-family: 'Goudy Stout', sans-serif;
}
.description-1{
    font-size: 13px;
    color: white;
}
.btn-close{
    color: #1f4e79;
    background-color: #ffd966;
}