<div class="container-1" *ngIf="div1">
    <div class="head">
        <div class="heading-2" fxLayout="column" style="align-items: center;">
            Select your Favourite Restraunt
            <div class="description" style="width: fit-content;">Get your yummy food from your prefered list of restraunts</div>
        </div>
    </div>
    <div class="restraunt-lists" fxLayout="column" fxLayoutGap="10px" *ngIf="this.restrauntDetails?.length>0">
        <div class="restraunt" fxLayout="row" *ngFor="let restraunt of restrauntDetails;let i=index;">
            <div class="name form-field-heading">{{restraunt.name}}</div>
            <button mat-flat-button class="btn-style" (click)="orderNow(restraunt)" matTooltip="Select you dish">Order Now</button>
        </div>
    </div>
    <div class="no-data" *ngIf="this.restrauntDetails?.length==0">
        <div class="cntr" style="margin: 2rem 1rem 1rem 1rem;text-align: center;">
            <img src="assets/images/data-not-found.svg" class="img-fluid" alt="no-restraunt">
            <div class="img-caption">
                <div class="heading-2 width-fix">No Restraunt found</div>
            </div>
        </div>
    </div>
</div>
<div class="container-2" *ngIf="div2">
    <div class="head">
        <div class="heading-2" fxLayout="column" style="align-items: center;">
            Select your Favourite Dish from 
            <div class="description" style="width: fit-content;">Get your yummy food from your prefered list of restraunts</div>
        </div>
    </div>
    <div class="" fxLayout="column" fxLayoutGap="5px" style="margin: 10px 30px;">
        <div class="back" fxLayout="row" fxLayoutAlign="space-between" >
            <button mat-icon-button (click)="enableDiv1()" matTooltip="Go to restraunt list">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-flat-button matTooltip="Go to cart" class="btn-style" [disabled]="this.cart.length==0" [routerLink]="['../cart']">
                <mat-icon>shopping_cart</mat-icon>Go To Cart</button>
        </div>
        <div class="no-data" *ngIf="this.menus?.length==0">
            <div class="cntr" style="margin: 2rem 1rem 1rem 1rem;text-align: center;">
                <img src="assets/images/data-not-found.svg" class="img-fluid" alt="no-menu-items">
                <div class="img-caption">
                    <div class="heading-2 width-fix">This Restraunt has no Food menu</div>
                </div>
            </div>
        </div>
        <div class="menu-lists" fxLayout="column" fxLayoutGap="10px"  *ngIf="this.menus?.length>0">
            <div *ngFor="let menu of menus;let i=index;" fxLayout="row" style="align-items: center;">
                <div class="styling" fxLayout="row" fxLayoutAlign="space-between" >
                    <div class="item-description" fxLayout="column" fxLayoutGap="5px">
                        <div class="item-name form-field-heading">Dish: {{menu.itemName}}</div>
                        <div class="qty description" >Qty: {{menu.qty}}</div>
                    </div>
                    <div class="rate form-field-heading" style="padding: 10px 20px;border-radius: 40px;">
                       Rs. {{menu.rate}}
                    </div>
                </div>
                <button mat-icon-button (click)="reduce(i)" color="primary" >
                    <mat-icon style="color: blue;cursor: pointer;">remove_circle_outline</mat-icon>
                </button>
                <mat-form-field style="width: 10%;text-align: center;" appearance="outline">
                    <mat-label>Quantity</mat-label>
                    <input type="text" min=1 matInput style="width: 80%;text-align: center;" [(ngModel)]="temp[i]">
                </mat-form-field>
                <button (click)="increase(i)" mat-icon-button color="primary" >
                    <mat-icon style="color: blue;cursor: pointer;">add_circle_outline</mat-icon>
                </button>
                <button mat-flat-button class="btn-style" (click)="addToCart(i)" [disabled]="temp[i]==0" matTooltip="Add this item to cart">Add To Cart</button>
            </div>
        </div>
    </div>
    
</div>