.container-1 {
  height: 88vh;
  width: 100vw;
}
.head {
  padding: 20px 0px;
  text-align: center;
  background-color: #dedfccc7;
  width: 100%;
 
}
.restraunt-lists{
    padding-top: 8px;
    background-image: url(../../../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
    height: 73vh;
    align-items: center;
}
.menu-lists{
    width: fit-content;
    margin: auto;
    padding-top: 8px;
}
.restraunt{
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    border: 1px solid lightgray;
    border-radius: 12px;
    background-color: floralwhite;
    width: 50%;
}
.styling {
    width: 40vw;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 11px;
  }
  .no-data-title {
    width: 64vw;
  }
  .img-fluid {
    max-width: 13rem;
    height: auto;
  }