.container-1 {
  height: 88vh;
  width: 100vw;
}
.head {
  padding: 50px 0px;
  text-align: center;
  background-color: #dedfccc7;
  width: 100%;
}
.restraunt-lists{
    width: 50%;
    margin: auto;
    padding-top: 8px;
}
.menu-lists{
    width: fit-content;
    margin: auto;
    padding-top: 8px;
}
.restraunt{
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    border: 1px solid lightgray;
    border-radius: 12px;
    background-color: floralwhite;
}
.styling {
    width: 40vw;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 11px;
  }