<div class="container-1">
    <div class="head">
        <div class="heading-2" fxLayout="column" style="align-items: center;">
            Orders
            <div class="description" style="width: fit-content;">Orders made by customers</div>
        </div>
    </div>
    <div class="no-data" *ngIf="this.orders?.length==0">
        <div class="cntr" style="margin: 2rem 1rem 1rem 1rem;text-align: center;">
            <img src="assets/images/data-not-found.svg" class="img-fluid" alt="no-orders-items">
            <div class="img-caption">
                <div class="heading-2 width-fix">No Orders Found Added.</div>
            </div>
        </div>
    </div>
    <div class="content " fxLayout="column" fxLayoutGap="10px" *ngIf="this.orders?.length>0">
        <div class="order" *ngFor="let order of orders;let i= index;" fxLayout="column" fxLayoutGap="10px" >
            <div class="form-field-heading">Restraunt Name:-{{getRestrauntName(order[0].restrauntId)}}</div>
            <div class="form-field-heading">Items:-</div>
            <div *ngFor="let item of order;let y=index;">
                <div class="items item-list">
                    <div class="form-field-heading">{{y+1}}. </div>
                    <div class="item-detail" fxLayout="column">
                        <div class="item-name form-field-sub-heading"> {{item.item.itemName}}</div>
                        <div class="item-qty description">({{item.item.qty}})</div>
                    </div>
                    <div class="form-field-sub-heading">
                        {{item.servings}} X Rs. {{item.item.rate}}
                    </div>
                    <div class="amount form-field-sub-heading">
                        = Rs. {{item.servings * item.item.rate}}
                    </div>
                </div>
            </div>
            <div class="amount" fxLayout="row" fxLayoutGap="5px" style="justify-content: flex-end;">
                <div class="form-field-heading">Total amount = </div>
                <div class="form-field-heading">Rs. {{getAmount(i)}}</div>
            </div>
        </div>

        
        
    </div>
</div>