<div class="container">
    <div class="heading-1">Welcome to food delivery Application</div>
    <div class="description">You can manage all your menus and orders by clicking on below buttons</div>
    <div fxLayout="row" fxLayoutGap="15px">
        <button mat-flat-button [routerLink]="['../orders']" class="btn-style" >Orders</button>
        <button mat-flat-button [routerLink]="['../menu']" class="btn-style">Menus</button>
        <button mat-flat-button [routerLink]="['../add-menu']" class="btn-style">Add Menu</button>
    </div>
    
</div>