<div class="container-1" fxLayout="row">
    <div class="sidebar">
        <img class="backgroung-image" src="assets/images/online-food-delivery-industry.jpg" alt="">
    </div>
    <div class="main" fxLayout="column" fxLayoutGap="10px">
        <button mat-icon-button [routerLink]="['../start']" >
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="head heading-1">
            SignIn as Customer
        </div>
        <form [formGroup]="logInForm" (ngSubmit)="logIn()">

            <div class="details" fxLayout="column" fxLayoutGap="10px">
                <div class="email" fxLayout="column" fxLayoutGap="5px">
                    <div class="form-field-heading">Email Id</div>
                    <mat-form-field appearance="outline">
                        <input type="text" matInput placeholder="xyz@gmail.com" formControlName="emailId">
                    </mat-form-field>
                    <small class="error"
                        *ngIf="logInForm.controls.emailId.touched && logInForm.controls.emailId.errors?.email">
                        Email address not well formed.!
                    </small>
                </div>
                <div class="pass" fxLayout="column" fxLayoutGap="5px">
                    <div class="form-field-heading">Password</div>
                    <mat-form-field appearance="outline">
                        <input type="password" matInput formControlName="password">
                    </mat-form-field>
                </div>
                <div *ngIf="invalidCredentials" class="error">
                    Invalid email id or password!
                </div>
                <button mat-flat-button type="submit" class="btn-style" [disabled]="!logInForm.valid">Login</button>
            </div> 
        </form>
    </div>
</div>