@import "../variables";
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border-spacing: 0 .4rem !important;
}

tr td:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

tr td:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.mat-row:nth-child(even) {
    background-color: $background-gray-dark;
}

.mat-row:nth-child(odd) {
    background-color: $background-gray;
}

.mat-header-cell {
    color: white;
    background-color: $color-blue;
    text-align: center;
    font-size: .85rem;
}

.mat-sort-header-arrow {
    color: #fff;
}

.mat-cell {
    color: $color-gray-dark;
    font-size: 80%;
}