.bg-light {
    background-color: #f8f9fa!important;
    box-shadow: 1px 3px 4px lightgrey;
}
.router-link-active {
    .active-icon{
        color: #1f4e79 !important;
    }
    background-color: #e6eff5 !important;
    border-radius: 6px;
    color: #1f4e79 !important;
}